p,
h1 {
  color: blue;
  font-family: georgia;
  font-style: italic;
  text-decoration: underline;
}
h2 {
  background-color: red;
  color: blue;
  font-family: "Courier New";
  font-weight: bold;
  font-style: italic;
}
body {
  font-size: 60px;
}
div {
  background: black;
}
